@model CreateAdminDto
<div class="page-body">
    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Admin Information</h5>
                                </div>

                                <form method="post">
                                    <div class="alert alert-info" asp-validation-summary="ModelOnly"></div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <div style="align-items:center" class="mb-4 row align-items-center">
                                            <label asp-for="FullName" class="form-label-title col-sm-3 mb-0">Admin FullName</label>
                                            <div class="col-sm-9">
                                                <input asp-for="FullName" class="form-control" type="text" placeholder="Admin FullName">
                                                <span class="text text-danger" asp-validation-for="FullName"></span>
                                            </div>
                                        </div>
                                        <label asp-for="Username" class="form-label-title col-sm-3 mb-0">Admin Username</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Username" class="form-control" type="text" placeholder="Admin Username">
                                            <span class="text text-danger" asp-validation-for="Username"></span>
                                        </div>
                                    </div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="Email" class="form-label-title col-sm-3 mb-0">Admin Email</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Email" class="form-control" type="text" placeholder="Admin Email">
                                            <span class="text text-danger" asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="Password" class="form-label-title col-sm-3 mb-0">Admin Password</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Password" class="form-control" type="password" placeholder="Admin Password">
                                            <span class="text text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div style="display:flex;justify-content:space-around" class="buttons">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <button class="btn btn-light">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

