@model LoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bacola</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/common.css">
    <link rel="stylesheet" href="~/assets/css/blog.css">
    <link rel="stylesheet" href="~/assets/css/about.css">
    <link rel="stylesheet" href="~/assets/css/cart.css">
    <link rel="stylesheet" href="~/assets/css/checkout.css">
    <link rel="stylesheet" href="~/assets/css/contact.css">
    <link rel="stylesheet" href="~/assets/css/home.css">
    <link rel="stylesheet" href="~/assets/css/login.css">
    <link rel="stylesheet" href="~/assets/css/ordertracking.css">
    <link rel="stylesheet" href="~/assets/css/register.css">
    <link rel="stylesheet" href="~/assets/css/resetp.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/shop.css">

</head>
<body>
    <main>
        <!-- Login Part Start -->
        <section id="Login">
            <div class="container">
                <div class="login-form">
                    <a style="font-size:20px" href="#" class="active">Forgot Password</a>
                    <form method="post" class="woocommerce-form woocommerce-form-register register">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="reg_username">Please login using account detail bellow.&nbsp;<span class="required">*</span></label>
                            <input name="email" asp-for="UserNameOrEmail" type="text" class="zhr2 form-control woocommerce-Input woocommerce-Input--text input-text" placeholder="Email" id="reg_username" autocomplete="username" value="">
                            <span asp-validation-for="UserNameOrEmail" style="color:red"></span>
                        </p>
                        <p class="woocommerce-form-row form-row">
                            <button type="submit" class="primary-btn">Send Email</button>
                        </p>
                    </form>
                </div>
            </div>
        </section>
        <!-- Login Part End -->
    </main>
    <script src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>
</html>
