@model CustomResponse<IEnumerable<AppUser>>

<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>All Users</h5>
                        </div>

                        <div class="table-responsive category-table">
                            <div>
                                <table class="table all-package theme-table" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>FullName</th>
                                            <th>Email</th>
                               
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var user in Model.Data)
                                        {
                                            <tr>
                                                <td>@user.UserName</td>
                                                <td>@user.FullName</td>
                                                <td>@user.Email</td>
                                             
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
