@model LoginDto
<main>
    <!-- Login Part Start -->
    <section id="Login">
        <div class="container">

            <div class="login-form">
                <a style="font-size:20px" href="#" class="active">Forgot Password</a>
             
                <form method="post" class="woocommerce-form woocommerce-form-register register">
                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="reg_username">Please login using account detail bellow.&nbsp;<span class="required">*</span></label>
                        <input name="email" asp-for="UserNameOrEmail" type="text" class="zhr2 form-control woocommerce-Input woocommerce-Input--text input-text" placeholder="UsernameOrEmail" id="reg_username" autocomplete="username" value="">
                        <span asp-validation-for="UserNameOrEmail" style="color:red"></span>
                    </p>
                    <p class="woocommerce-form-row form-row">
                        <button type="submit" class="primary-btn">Send Email</button>
                    </p>
                </form>
            </div>
        </div>
    </section>
    <!-- Login Part End -->
</main>

