<main>
    <section id="Abouttop">
        <div class="container">
            <h1 class="entry-title">About for Bacola</h1>
            <h4 class="entry-subtitle">We can do more for you</h4>
        </div>
        <div class="hero-image">
            <img src="~/assets/img/about/about-header.jpg" alt="">
        </div>
    </section>

    <section id="Aboutbottom">
        <div class="container">
            <div class="first">
                <p>
                    In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec
                    augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a
                    lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
                    Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam,
                    pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
                </p>
            </div>
            <div class="second">
                <h2 class="elementor-heading-title elementor-size-default">
                    Quisque erat urna, congue et libero in
                    <br>
                    eleifend euismod velit.
                </h2>
                <p class="elementor-heading-title elementor-size-default">
                    In nec purus eget neque accumsan finibus.
                    Duis condimentum elit ut libero commodo iaculis. Donec augue diam, tristique et ultricies nec,
                    consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus rhoncus dapibus non ac
                    justo. Vivamus lacinia vestibulum metus in dapibus. Vestibulum sit amet sollicitudin enim. Ut id
                    interdum turpis. Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque efficitur
                    elit ante, vel vulputate tortor blandit nec.
                </p>
            </div>
            <div class="third">
                <div class="third-left">
                    <img src="~/assets/img/about/about-people.jpg" alt="">
                </div>
                <div class="third-right">
                    <span class="elementor-heading-title elementor-size-default">Rachel Leonard - Bacola CEO</span>
                    <h3 class="elementor-heading-title elementor-size-default">
                        Duis convallis luctus pretium.
                        Pellentesque habitant morbi
                    </h3>
                    <p class="elementor-heading-title elementor-size-default">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                        lacus vel facilisis.
                    </p>
                    <p class="elementor-heading-title elementor-size-default">
                        In fermentum mi ut sapien semper, a
                        sagittis lorem vulputate. Integer gravida, dui eget aliquet tempus, turpis orci vehicula
                        ipsum, eget porttitor sapien tortor at neque. Cras id pulvinar lacus, ac volutpat neque. Ut
                        at magna id justo bibendum lobortis. Integer tortor nulla, ultricies et nisi sit amet,
                        interdum dictum felis. In semper laoreet dui vitae pharetra. Etiam sit amet molestie nulla,
                        eu efficitur orci. Praesent rutrum ante justo, eget malesuada ante ornare ac. Ut dignissim
                        blandit urna, eget euismod leo rhoncus nec. Vestibulum ante ipsum primis in faucibus orci
                        luctus et ultrices posuere cubilia curae; Quisque lobortis libero ante. Nullam in feugiat
                        erat. Aenean sed justo dapibus, sodales nisi ut, fringilla lorem. Vestibulum in orci ac nisl
                        condimentum fermentum at et sem. Curabitur fermentum dolor eu lacus consectetur varius.
                    </p>
                    <div class="btm">
                        <p class="elementor-heading-title elementor-size-default">
                            In nec purus eget neque accumsan
                            finibus. Duis condimentum elit ut libero commodo iaculis. Donec augue diam, tristique et
                            ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus
                            rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus. Vestibulum
                            sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam, pretium
                            facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
                        </p>
                    </div>
                </div>
            </div>
            <div class="fourth">
                <p>
                    In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec
                    augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a
                    lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
                    Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam,
                    pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
                </p>
            </div>
        </div>
    </section>
</main>
