@import url(/shop.html);
@import url(/product-detail.html);
body {
  background-color: #f7f8fd;
}

#Productcart .container {
  margin-top: 30px;
}
#Productcart .container .single-wrapper {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 7px;
}
#Productcart .container .single-wrapper .product-header h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}
#Productcart .container .single-wrapper .product-header .bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 0.75rem;
}
#Productcart .container .single-wrapper .product-header .bottom p {
  margin-bottom: 0px;
}
#Productcart .container .single-wrapper .product-header .bottom .product-brand {
  padding-right: 15px;
  border-right: 1px solid #d9d9e9;
}
#Productcart .container .single-wrapper .product-header .bottom .star-rating {
  border-right: 1px solid #d9d9e9;
  font-size: 0.65rem;
  padding: 5px 15px;
}
#Productcart .container .single-wrapper .product-header .bottom .star-rating i {
  color: #ffcd00;
}
#Productcart .container .single-wrapper .product-header .bottom .sku-wrapper {
  padding: 0px 15px;
}
#Productcart .container .single-wrapper .product-header .bottom .sku-wrapper span {
  color: #3e445a;
}
#Productcart .container .single-wrapper .product-header .bottom .sku-wrapper .first {
  font-weight: 500;
  color: #9b9bb4 !important;
  font-size: 0.7rem;
}
#Productcart .container .single-wrapper .product-body {
  margin-top: 20px;
}
#Productcart .container .single-wrapper .product-body .product-slid {
  padding-right: 50px;
}
#Productcart .container .single-wrapper .product-body .product-slid .main-img {
  width: 100%;
}
#Productcart .container .single-wrapper .product-body .product-slid .main-img img {
  width: 100%;
}
#Productcart .container .single-wrapper .product-body .product-slid .addition-img {
  width: 100%;
}
#Productcart .container .single-wrapper .product-body .product-slid .addition-img img {
  width: 100%;
}
#Productcart .container .single-wrapper .product-detail .price {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#Productcart .container .single-wrapper .product-detail .price del {
  color: #c2c2d3;
  font-size: 75%;
  font-weight: 500;
}
#Productcart .container .single-wrapper .product-detail .price ins {
  text-decoration: none;
  margin-left: 0.3125rem;
  color: #d51243;
  text-decoration: none;
  margin-left: 0.3125rem;
}
#Productcart .container .single-wrapper .product-detail .product-meta {
  margin-bottom: 1.25rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 0.6rem;
}
#Productcart .container .single-wrapper .product-detail .product-meta span {
  color: #00b853;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 10px;
  background-color: #e5f8ed;
  border-radius: 1.875rem;
}
#Productcart .container .single-wrapper .product-detail p {
  font-size: 0.7rem;
  color: #3e445a;
}
#Productcart .container .single-wrapper .product-detail form {
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}
#Productcart .container .single-wrapper .product-detail form .quantity {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
}
#Productcart .container .single-wrapper .product-detail form .quantity .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  overflow-wrap: normal !important;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
#Productcart .container .single-wrapper .product-detail form .quantity .quantity-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #edeef5;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
#Productcart .container .single-wrapper .product-detail form .quantity .quantity-button i {
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
#Productcart .container .single-wrapper .product-detail form .quantity .qty {
  width: 2.625rem;
  height: 2.75rem;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-align: center;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  border-radius: 7px;
}
#Productcart .container .single-wrapper .product-detail form button {
  font-size: 0.7rem;
  flex: 1;
  height: 2.75rem;
  margin-left: 0.9375rem;
  justify-content: center;
  border-radius: 1.875rem !important;
  max-width: 200px;
  background-color: #233a95;
  color: white;
  border-color: transparent;
  border: 1px solid;
}
#Productcart .container .single-wrapper .product-detail .product-actions {
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
}
#Productcart .container .single-wrapper .product-detail .product-actions .tinv-wishlist {
  font-size: 100%;
}
#Productcart .container .single-wrapper .product-detail .product-actions .tinv-wishlist a {
  justify-content: center;
  height: 2.0625rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 1px solid #d9d9e9;
  border-radius: 2.0625rem;
  display: inline-flex;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #71778e;
  text-decoration: none;
}
#Productcart .container .single-wrapper .product-detail .product-actions .tinv-wishlist a i {
  margin-right: 10px;
}
#Productcart .container .single-wrapper .product-detail .product-actions button {
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #71778e;
  text-decoration: none;
  padding: 0;
  height: auto;
  margin-left: 20px;
  display: inline-block;
  text-align: center;
  background: none;
  border: none;
}
#Productcart .container .single-wrapper .product-detail .product-actions button i {
  margin-right: 5px;
}
#Productcart .container .single-wrapper .product-detail .product-checklist {
  margin-bottom: 1.5rem;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e5ee;
}
#Productcart .container .single-wrapper .product-detail .product-checklist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#Productcart .container .single-wrapper .product-detail .product-checklist ul li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #3e445a;
}
#Productcart .container .single-wrapper .product-detail .product-checklist ul li i {
  font-size: 0.65rem;
  color: #00b853;
  margin-right: 0.625rem;
}
#Productcart .container .single-wrapper .product-detail .p1 {
  margin-bottom: 5px;
  font-weight: 500;
  color: #71778e;
}
#Productcart .container .single-wrapper .product-detail .p1 span {
  color: black;
}
#Productcart .container .single-wrapper .product-detail .p2 {
  margin-bottom: 5px;
  font-weight: 500;
  color: #71778e;
  margin-bottom: 30px;
}
#Productcart .container .single-wrapper .product-detail .p2 span {
  color: black;
}
#Productcart .container .single-wrapper .product-detail .product-share ul {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
#Productcart .container .single-wrapper .product-detail .product-share ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  width: 2.125rem;
  height: 2.125rem;
  margin-right: 3px;
  color: white;
  border-radius: 50%;
  border: 1px solid #e4e5ee;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
#Productcart .container .single-wrapper .product-detail .product-share ul li .facebook {
  background-color: #3b5998;
}
#Productcart .container .single-wrapper .product-detail .product-share ul li .twitter {
  background-color: #1da1f2;
}
#Productcart .container .single-wrapper .product-detail .product-share ul li .pinterest {
  background-color: #e60023;
}
#Productcart .container .single-wrapper .product-detail .product-share ul li .linkedin {
  background-color: #0077b5;
}
#Productcart .container .single-wrapper .product-detail .product-share ul li .redit {
  background-color: #ff4500;
}
#Productcart .container .single-wrapper .product-detail .product-share ul li .vhats {
  background-color: #25d366;
}
#Productcart .container .single-wrapper .product-right .covid {
  font-size: 0.6rem;
  text-align: center;
  width: 100%;
  color: #be143c;
  background-color: #ffeef2;
  border-radius: 7px;
  padding: 10px 5px;
  margin-bottom: 1rem;
}
#Productcart .container .single-wrapper .product-right .covid p {
  margin-bottom: 0px;
  font-weight: 600;
}
#Productcart .container .single-wrapper .product-right .iconboxes-widget {
  margin-bottom: 50px;
  background-color: #f7f8fd;
}
#Productcart .container .single-wrapper .product-right .iconboxes-widget .item {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: black;
}
#Productcart .container .single-wrapper .product-right .iconboxes-widget .item i {
  flex: 0 0 2.5rem;
  max-width: 2.5rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 0.8em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 0.5em;
}
#Productcart .container .single-wrapper .product-right .iconboxes-widget .item p {
  font-size: 0.7rem;
  margin-bottom: 0px;
}

#Tabmenu {
  margin-bottom: 30px;
}
#Tabmenu .container {
  margin-top: 3.75rem;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #edeef5;
}
#Tabmenu .container hr {
  padding: 0px;
}
#Tabmenu .container .tabmenu .links {
  margin-top: 20px;
  list-style: none;
  display: flex;
  padding: 0px;
}
#Tabmenu .container .tabmenu .links button {
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  color: #c2c2d3;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  text-decoration: none;
  padding: 0.8rem;
  border: none;
}
#Tabmenu .container .tabmenu .links .tabactive {
  color: black;
}
#Tabmenu .container .contents .first-content {
  padding: 20px;
}
#Tabmenu .container .contents .first-content p {
  font-size: 0.85em;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0;
}
#Tabmenu .container .contents .second-content {
  margin-bottom: 30px;
}
#Tabmenu .container .contents .second-content table {
  max-width: 100%;
  background-color: transparent;
  width: 100%;
}
#Tabmenu .container .contents .second-content table tbody tr th {
  text-align: left;
  padding-right: 20px;
  padding-bottom: 5px;
  padding: 8px;
  border: 1px solid #edeef5;
}
#Tabmenu .container .contents .second-content table tbody tr td {
  padding: 8px;
  border: 1px solid #edeef5;
  text-align: left;
}
#Tabmenu .container .contents .second-content table tbody tr td p {
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  #Productcart .container .single-wrapper .product-header .bottom {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  #Productcart .container .single-wrapper .product-header .bottom p {
    margin-right: 0px;
    display: none;
  }
  #Productcart .container .single-wrapper .product-header .bottom .star-rating {
    padding-left: 0px;
  }
  #Productcart .container .single-wrapper .product-body .product-slid {
    padding-right: 0px;
  }
  #Productcart .container .single-wrapper .product-body .product-right {
    margin-top: 30px;
  }
  #Shop-bottom .container .recently {
    height: 800px !important;
  }
  #Shop-bottom .container .recently .rproduct-body .products {
    width: 100%;
  }
  #Shop-bottom .container .recently .rproduct-body .products .product {
    width: 50% !important;
  }
}
body {
  background-color: #fff;
}

#Shop-part {
  margin-top: 50px;
  margin-bottom: 50px;
}
#Shop-part .container .row .shop-primary .shop-banner {
  position: relative;
}
#Shop-part .container .row .shop-primary .shop-banner .banner-img img {
  width: 100%;
}
#Shop-part .container .row .shop-primary .shop-banner .banner-content {
  z-index: 1;
  position: absolute;
  max-width: 70%;
  padding: 1.875rem 2.5rem;
  left: 27%;
  top: 15%;
}
#Shop-part .container .row .shop-primary .shop-banner .banner-content h4 {
  font-weight: 200;
  font-size: 1.4rem;
}
#Shop-part .container .row .shop-primary .shop-banner .banner-content h3 {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -0.8px;
}
#Shop-part .container .row .shop-primary .shop-banner .banner-content h3 strong {
  font-weight: 600;
  color: #00b853;
}
#Shop-part .container .row .shop-primary .shop-banner .banner-content p {
  font-size: 0.7rem;
  color: #9b9bb4;
}
#Shop-part .container .row .shop-primary .before-shop-loop {
  margin-top: 30px;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin-bottom: 1.25rem;
  flex-flow: row wrap;
  min-height: 3.5rem;
  background-color: #f7f8fd;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Shop-part .container .row .shop-primary .before-shop-loop .left a {
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  width: 1rem;
  height: 1rem;
  color: #c2c2d3;
  margin-right: 5px;
}
#Shop-part .container .row .shop-primary .before-shop-loop .left .shop-viewactive {
  color: black;
}
#Shop-part .container .row .shop-primary .before-shop-loop .right select {
  border: none;
  background-color: transparent;
  font-size: 0.8em;
  font-weight: 500;
}
#Shop-part .container .row .shop-primary .before-shop-loop .right .first {
  padding: 10px 0px;
}
#Shop-part .container .row .shop-primary .container {
  margin: 30px auto;
  max-width: 1200px;
  display: grid;
  padding: 0px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
#Shop-part .container .row .shop-primary .container .product {
  position: relative !important;
  width: 100%;
  height: 100%;
  border: 1px solid #edeef5;
  background-color: #fff;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
#Shop-part .container .row .shop-primary .container .product .product-content-fade {
  position: absolute !important;
  top: -1px;
  bottom: 0;
  left: -1px;
  right: -1px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  will-change: opacity;
  box-shadow: 5px 15px 30px rgba(62, 68, 90, 0.1);
  pointer-events: none;
  margin-bottom: -50px;
  background-color: #fff;
}
#Shop-part .container .row .shop-primary .container .product:hover {
  border: 1px solid #c2c2d3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 3;
  background-color: white;
}
#Shop-part .container .row .shop-primary .container .product:hover .product-content-fade {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #c2c2d3;
  opacity: 1 !important;
}
#Shop-part .container .row .shop-primary .container .product:hover .product-button-group {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0px);
}
#Shop-part .container .row .shop-primary .container .product:hover .card-buttons .top-btn {
  transform: translateX(-50%) !important;
  opacity: 1 !important;
}
#Shop-part .container .row .shop-primary .container .product:hover .card-buttons .top-btn:hover {
  color: #fff !important;
  background-color: #233a95 !important;
  border-color: transparent !important;
}
#Shop-part .container .row .shop-primary .container .product .product-card {
  position: relative;
  display: flex;
  flex-direction: column;
}
#Shop-part .container .row .shop-primary .container .product .product-card img {
  width: 180px;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-thumbnail {
  padding: 1.35rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-thumbnail .card-badges {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 1.125rem;
  left: 1.125rem;
  z-index: 1;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-thumbnail .card-badges .badge {
  display: inline-flex;
  border-radius: 0.25rem;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.625rem;
  max-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  color: #fff;
  text-align: center;
  line-height: 1;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-thumbnail .card-badges .badge.on-sale {
  background-color: #2bbef9;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-thumbnail .card-badges .badge.recommend {
  margin-top: 4px;
  background-color: #9b9bb4;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-thumbnail .card-buttons {
  position: absolute;
  display: inline-flex;
  row-gap: 5px;
  flex-direction: column;
  top: 0.9rem;
  right: 0;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-thumbnail .card-buttons .top-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #3e445a;
  background-color: #fff;
  border: 1px solid #edeef5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.1s cubic-bezier(0.17, 0.62, 0.44, 0.99), transform 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  transition: all 0.2s ease-in;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content {
  padding: 0 1.25rem 2rem;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.625rem;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-title a {
  font-size: 1rem;
  color: #202435;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-title a:hover {
  color: #233a95;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-rating {
  display: flex;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-rating i {
  color: #ffcd00;
  font-size: 0.625rem;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .stock-state {
  font-size: 0.6875rem;
  color: #00b853;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-price {
  margin-top: 5px;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-price del {
  color: #c2c2d3;
  font-size: 85%;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .card-price ins {
  color: #d51243;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 500;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  padding: 0 15px;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group .add-to-cart .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group .add-to-cart .btn-primary {
  width: 100%;
  height: 2.3rem;
  font-size: 0.6rem;
  font-weight: 500;
  color: #fff;
  background-color: #233a95;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group .quantity {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  background-color: #edeef5;
  color: #202435;
  border-radius: 50%;
  cursor: pointer;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-counter {
  font-size: 0.875rem;
  width: 2rem;
  height: 2.125rem;
  border-top: 1px solid #edeef5;
  border-bottom: 1px solid #edeef5;
  border-radius: 0;
  pointer-events: none;
  text-align: center;
  flex: 1;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-btn.minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#Shop-part .container .row .shop-primary .container .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-btn.plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffcd00;
}



    #Shop-part .container .row .content-primary .product-filters .product-category {
        height: 350px;
    }

        #Shop-part .container .row .content-primary .product-filters .product-category h4 {
            font-size: 0.9375rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0;
            margin-bottom: 0.8rem;
        }

        #Shop-part .container .row .content-primary .product-filters .product-category .category-part {
            margin-bottom: 50px;
            position: relative;
            color: #71778e;
        }

            #Shop-part .container .row .content-primary .product-filters .product-category .category-part ul {
                font-size: 0.8125rem;
                font-weight: 400;
                margin: 0;
                padding: 0;
                list-style: none;
            }

                #Shop-part .container .row .content-primary .product-filters .product-category .category-part ul .children {
                    margin-left: 1.75rem;
                    display: none;
                    width: 100%;
                    order: 3;
                }

                #Shop-part .container .row .content-primary .product-filters .product-category .category-part ul li {
                    list-style: none;
                }

                    #Shop-part .container .row .content-primary .product-filters .product-category .category-part ul li a {
                        color: #71778e;
                        display: flex;
                        align-items: center;
                    }

                    #Shop-part .container .row .content-primary .product-filters .product-category .category-part ul li label {
                        margin-left: 15px;
                        align-items: center;
                        cursor: pointer;
                    }

    #Shop-part .container .row .content-primary .product-filters .price-filter {
        position: relative;
        margin-bottom: 30px;
    }

        #Shop-part .container .row .content-primary .product-filters .price-filter h4 {
            font-size: 0.9375rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0;
            margin-bottom: 0.8rem;
        }

        #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .price-input {
            width: 100%;
            display: flex;
            margin: 25px 0px;
            align-items: center;
        }

            #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .price-input .field {
                display: flex;
                align-items: center;
                font-size: 1rem;
                width: 100%;
                height: 45px;
                color: #71778e;
            }

                #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .price-input .field span {
                    font-weight: 600;
                    color: #202435;
                }

                #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .price-input .field p {
                    margin-right: 5px;
                    margin-bottom: 0px;
                }

            #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .price-input .leftfilter button {
                order: 2;
                color: #202435;
                font-size: 0.75rem;
                font-weight: 600;
                text-transform: uppercase;
                height: auto;
                margin-left: auto;
                padding: 0;
                border: 0;
                background-color: transparent;
            }

        #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .slider {
            height: 5px;
            position: relative;
            background: #ddd;
            border-radius: 5px;
        }

            #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .slider .progress {
                height: 100%;
                left: 25%;
                right: 25%;
                position: absolute;
                border-radius: 5px;
                background: #202435;
            }

        #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .range-input {
            position: relative;
        }

            #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .range-input input {
                position: absolute;
                width: 100%;
                height: 5px;
                top: -5px;
                background: none;
                pointer-events: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

                #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .range-input input[type=range]::-webkit-slider-thumb {
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    background: #202435;
                    pointer-events: auto;
                    -webkit-appearance: none;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                }

                #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .range-input input[type=range]::-moz-range-thumb {
                    height: 17px;
                    width: 17px;
                    border: none;
                    border-radius: 50%;
                    background: #202435;
                    pointer-events: auto;
                    -moz-appearance: none;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                }

                #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .range-input input[type=number]::-webkit-outer-spin-button,
                #Shop-part .container .row .content-primary .product-filters .price-filter form .wrapper .range-input input[type=number]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

    #Shop-part .container .row .content-primary .product-filters .product-status h4 {
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0;
        margin-bottom: 0.8rem;
    }

    #Shop-part .container .row .content-primary .product-filters .product-status .status {
        margin-bottom: 50px;
        position: relative;
        color: #71778e;
    }

        #Shop-part .container .row .content-primary .product-filters .product-status .status ul {
            font-size: 0.8rem;
            font-weight: 400;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            #Shop-part .container .row .content-primary .product-filters .product-status .status ul li {
                list-style: none;
            }

                #Shop-part .container .row .content-primary .product-filters .product-status .status ul li a {
                    color: #71778e;
                    display: flex;
                    align-items: center;
                }

                    #Shop-part .container .row .content-primary .product-filters .product-status .status ul li a label {
                        margin-left: 15px;
                        align-items: center;
                        cursor: pointer;
                    }

    #Shop-part .container .row .content-primary .product-filters .product-brand h4 {
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0;
        margin-bottom: 0.8rem;
    }

    #Shop-part .container .row .content-primary .product-filters .product-brand ul {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #Shop-part .container .row .content-primary .product-filters .product-brand ul li {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

            #Shop-part .container .row .content-primary .product-filters .product-brand ul li a {
                color: #71778e;
                display: flex;
                align-items: center;
            }

                #Shop-part .container .row .content-primary .product-filters .product-brand ul li a label {
                    margin-left: 15px;
                    align-items: center;
                    cursor: pointer;
                }

    #Shop-part .container .row .content-primary .product-filters .product-banner {
        margin-top: 3.125rem;
    }

        #Shop-part .container .row .content-primary .product-filters .product-banner img {
            max-width: 100%;
            height: auto;
        }

#Shop-bottom .container .recently {
  margin-bottom: 50px;
  position: relative !important;
  height: 450px;
}
#Shop-bottom .container .recently .related-head .column {
  display: inline-flex;
  flex-flow: row wrap;
}
#Shop-bottom .container .recently .related-head .column .entry-title {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0;
}
#Shop-bottom .container .recently .rproduct-body .products {
  margin-top: 30px;
  position: absolute !important;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  width: 100%;
}
#Shop-bottom .container .recently .rproduct-body .products .product {
  height: 350px;
  width: 25%;
  border-radius: 8px;
  border: 1px solid #edeef5;
  z-index: 7;
}
#Shop-bottom .container .recently .rproduct-body .products .product:hover {
  border: 1px solid #c2c2d3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 400px;
  z-index: 10;
  background-color: white;
}
#Shop-bottom .container .recently .rproduct-body .products .product:hover .product-button-group {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0px);
}
#Shop-bottom .container .recently .rproduct-body .products .product:hover .card-buttons .top-btn {
  transform: translateX(-50%) !important;
  opacity: 1 !important;
}
#Shop-bottom .container .recently .rproduct-body .products .product:hover .card-buttons .top-btn:hover {
  color: #fff !important;
  background-color: #233a95 !important;
  border-color: transparent !important;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card {
  position: relative;
  display: flex;
  flex-direction: column;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card img {
  width: 180px;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-thumbnail {
  padding: 1.35rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-thumbnail .card-badges {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 1.125rem;
  left: 1.125rem;
  z-index: 1;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-thumbnail .card-badges .badge {
  display: inline-flex;
  border-radius: 0.25rem;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.625rem;
  max-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  color: #fff;
  text-align: center;
  line-height: 1;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-thumbnail .card-badges .badge.on-sale {
  background-color: #2bbef9;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-thumbnail .card-badges .badge.recommend {
  margin-top: 4px;
  background-color: #9b9bb4;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-thumbnail .card-buttons {
  position: absolute;
  display: inline-flex;
  row-gap: 5px;
  flex-direction: column;
  top: 0.9rem;
  right: 0;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-thumbnail .card-buttons .top-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #3e445a;
  background-color: #fff;
  border: 1px solid #edeef5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.1s cubic-bezier(0.17, 0.62, 0.44, 0.99), transform 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  transition: all 0.2s ease-in;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content {
  padding: 0 1.25rem 2rem;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.625rem;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-title a {
  font-size: 1rem;
  color: #202435;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-title a:hover {
  color: #233a95;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-rating {
  display: flex;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-rating i {
  color: #ffcd00;
  font-size: 0.625rem;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .stock-state {
  font-size: 0.6875rem;
  color: #00b853;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-price {
  margin-top: 5px;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-price del {
  color: #c2c2d3;
  font-size: 85%;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .card-price ins {
  color: #d51243;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 500;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  padding: 0 15px;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group .add-to-cart .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group .add-to-cart .btn-primary {
  width: 100%;
  height: 2.3rem;
  font-size: 0.6rem;
  font-weight: 500;
  color: #fff;
  background-color: #233a95;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group .quantity {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  background-color: #edeef5;
  color: #202435;
  border-radius: 50%;
  cursor: pointer;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-counter {
  font-size: 0.875rem;
  width: 2rem;
  height: 2.125rem;
  border-top: 1px solid #edeef5;
  border-bottom: 1px solid #edeef5;
  border-radius: 0;
  pointer-events: none;
  text-align: center;
  flex: 1;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-btn.minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#Shop-bottom .container .recently .rproduct-body .products .product .product-card .card-content .product-fade-block .product-button-group .quantity .quantity-btn.plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffcd00;
}

@media (max-width: 576px) {
  #Shop-part .container .row .shop-primary .shop-banner .banner-content {
    left: 20%;
    top: 0;
  }
  #Shop-part .container .row .shop-primary .shop-banner .banner-content h4 {
    font-size: 1rem;
  }
  #Shop-part .container .row .shop-primary .shop-banner .banner-content H3 {
    font-size: 1rem;
  }
  #Shop-part .container .row .shop-primary .shop-banner .banner-content p {
    font-size: 0.7rem;
  }
  #Shop-part .container .row .shop-primary .before-shop-loop .left {
    display: none;
  }
  #Shop-part .container .row .shop-primary .before-shop-loop .second {
    display: none;
  }
}/*# sourceMappingURL=shop.css.map */