<main>
    <!-- OrderTrackingBody Start -->
    <section id="Body">
        <div class="container">
            <div class="form">
                <form  method="post" novalidate="novalidate" action="/shop/OrderTrackingdetail">
                    <p>To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>

                    <p class="form-row form-row-first"><label for="orderid">Order ID</label>
                    <input type="text" class="form-control" name="Id" id="orderid" value="" placeholder="Ender Your Order Id For Tracking"></p>
                    <p class="form-row form-row-last"><label for="order_email">Billing email</label>
                    <input class="form-control" type="text" name="UserEmail" id="order_email" value="" placeholder="Email you used during checkout."></p>	<div class="clear"></div>


                    <p class="form-row"><button type="submit" class="button" name="track" value="Track">Track</button></p>
                </form>
            </div>
        </div>
    </section>

    <!-- OrderTrackingBody End -->
</main>



